<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <div class="brand-logo">
            <a href="#"> <img
                    src="img/Tinder_(app)-Logo.wine.svg" style="width: 300px;height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#"
                                        style="font-size: 20px;color: rgb(33,37,41);">Đăng Ký</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#"
                                        style="font-size: 20px;color: rgb(33,37,41);">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead"
        style="background: url('img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="mx-auto header-content">
                    <h1 class="mb-5" style="margin: 0px;"><br><br>Kết bạn trực tuyến. Hẹn hò trên mạng xã hội.
                        <br><br></h1><a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button"
                                           href="#download" style="font-size: 15px;padding: 20px 50px;">Bắt đầu</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device"
                             style="background-image:url('img/iphone_6_plus_white_port.png');">
                            <div class="screen"><img class="img-fluid" src="img/tinder.png">
                            </div>
                            <div class="button"></div>
                        </div>
                    </div>
                </div>
                <div class="iphone-mockup"></div>
            </div>
        </div>
    </div>
</header>
<section id="features" class="features" style="background: var(--warning);">
    <div class="container">
        <div class="text-center section-heading">
            <h2 style="height: 150px;"><br>Phương thức mới mẻ để gặp gỡ mọi người<br><br><br></h2>
            <p class="text-muted"><br>Kết bạn, hẹn hò, tìm người yêu hay gần như thế. Hẹn hò vui vẻ, kết bạn hay
                nghiêm túc tìm người yêu - Tinder luôn có thứ bạn cần!<br><br><br></p>
        </div>
    </div>
</section>
<section id="features-1" class="features" style="padding: 10px;">
    <div class="container">
        <div class="text-center section-heading"></div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device"
                             style="background-image:url('img/iphone_6_plus_white_port.png');">
                            <div class="screen"><img class="img-fluid"
                                                     src="https://cdn.tgdd.vn/GameApp/3/220154/Screentshots/tinder-ung-dung-hen-ho-04-03-2021-0.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <p class="text-muted"><br>Vuốt phải nếu bạn thích hồ sơ của họ, vuốt trái nếu thấy
                                    không hợp gu!<br><br></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <p class="text-muted"><br>Tương hợp thành công – chỉ khi hai người đều tỏ ý Thích
                                    nhau!<br><br></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <p class="text-muted"><br>Một ứng dụng xã hội không giới hạn số lần vuốt chọn, tương
                                    hợp và trò chuyện!<br><br></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <p class="text-muted"><br>Muốn tận hưởng nhiều thứ hay ho hơn nữa từ ứng
                                    dụng<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center bg-primary download" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading" style="height: 200px;"><br><strong>TẢI NGAY ỨNG
                    DỤNG!</strong><br><br><br></h2>
                <p><br>Ứng dụng của chúng tôi có sẵn trên mọi thiết bị di động! Tải xuống ngay bây giờ để bắt đầu
                    !<br><br></p>
                <div class="badges"><a class="badge-link" href="#"><img
                        src="img/google-play-badge.svg"></a><a class="badge-link" href="#"><img
                        src="img/app-store-badge.svg"></a></div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <p>©&nbsp;Brand 2021. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">FAQ</a></li>
        </ul>
    </div>
</footer>
</body>

</html>