<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="logo">
                <img src="img/logo1.png" width="160">
        </div>

        <form method="post" action="register1">
            <div class="inputPosition">
                <input name="email" type="email" class="inputEmail" placeholder="Email" required>
            </div>
            <div class="inputPosition">
                <input name="name" type="text" class="inputNumber" placeholder="Họ và tên" required>
            </div>
            <div class="inputPosition">
                <input name="phone" type="text" class="inputNumber" placeholder="Số điện thoại" required>
            </div>

            <div class="inputPosition">
                <input name="password" type="password" class="inputPassword" placeholder="Mật khẩu" required>
            </div>

            <div class="text">
                <span class="textAsk">Đã có tài khoản?</span>
                <a href="/login" class="textSignUp">Đăng nhập</a>
            </div>

            <div class="login">
                <button type="submit" class="buttonLogin">
                    Đăng ký
                </button>
            </div>
        </form>

        <hr width="330px" style="margin-top: 20px">

    </div>
</div>
{{#if isShow}}
    <script>
        alert("{{alertMessage}}")
    </script>
{{/if}}
</body>
</html>

<style>


    .container {
        margin: auto;
        justify-content: center;
        display: flex;
    }

    .content {
        width: 420px;
        height: 630px;
        background-color: white;
        margin: 0 auto;
        padding: 0;
        margin-top: 1%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px #454545;
        padding-top: 5px;
    }

    /*Logo*/
    .logo {
        text-align: center;
    }

    /*Input*/
    .inputEmail {
        width: 300px;
        height: 40px;
        font-family: Arial;
        font-size: 15px;
        border: 2px solid #ff0066;
        border-radius: 10px;
        margin-top: 10px;
        padding-left: 30px;
    }

    .iconEmail {
        position: absolute;
        margin-top: 22px;
        margin-left: 7px;
    }

    .inputNumber {
        width: 300px;
        height: 40px;
        font-family: Arial;
        font-size: 15px;
        margin-top: 20px;
        border: 2px solid #ff0066;
        border-radius: 10px;
        padding-left: 30px;
    }

    .iconPhone {
        position: absolute;
        margin-top: 33px;
        margin-left: 7px;
    }

    .inputPassword {
        width: 300px;
        height: 40px;
        font-family: Arial;
        font-size: 15px;
        margin-top: 20px;
        border: 2px solid #ff0066;
        border-radius: 10px;
        padding-left: 30px;
    }

    .iconPassword {
        position: absolute;
        margin-top: 32px;
        margin-left: 7px;
    }

    .inputPosition {
        text-align: center;
    }

    /*Text*/
    .text {
        margin-top: 18px;
        margin-left: 155px;
    }

    .textAsk {
        font-family: Arial;
    }

    .textSignUp {
        color: #e33483;
        font-weight: bold;
        font-family: Arial;
    }

    .textSignUp:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    /*Button*/
    .login {
        text-align: center;
        margin-top: 18px;
    }

    .buttonLogin {
        width: 335px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial;
        color: white;
        background: linear-gradient(to right, #ff6666, #ff0066);
    }

    .buttonLogin:hover {
        background: linear-gradient(to right, #ff0066, #ff6666);
        border: none;
        cursor: pointer;
        color: white;
    }

    /*Icon*/
    .icon {
        width: 200px;
        height: 60px;
        margin-left: 45px;
        margin-top: 15px;
    }

    .iconGoogle {
        margin-bottom: 3px;
        margin-left: 20px;
    }
</style>
